input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}


#emailFeedback, #zipFeedback, #countryFeedback, #passwordFeedback {
  display: none;
  color: red;
}

#validationForm {
  display: flex;
  flex-direction: column;
}